.Song-container{
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img{
        width: 20%;
        border-radius: 50%;
        height:40vh;
    }
    h2{
        padding: 3rem 1rem 1rem 1rem;
    }
    h1{
        font-size: .75em;
    }
    
}
@media screen and (max-width:768px){
    .Song-container{
        img{
            width:60%;
        }

    }
}